body{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(252, 255, 207);
}
header{
   border:none;
   background-color: rgba(126, 252, 0, 0.808);
   text-align: center;
   margin: none;
   padding: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
   background-color: rgba(126, 252, 0, 0.808);
   margin: none;
   padding: none;
   border: thick dotted;
}
.navegacion:hover{
   color: rgb(0, 2, 119);
   f
}
section{
   border: 1px solid black;
   padding: 30px;
   margin: 20px;
}
article{
   margin:20px;
   border: 1px solid black;
}
aside{
   border: 1px solid red;
   float: right;
}

footer{
color: black;
}

img{
   width: 500px;
   height: 300px;
   float: inline-start;
}
p{
   margin: aut
}
