body{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(252, 255, 207);
}
header{
   border:none;
   background-color: rgba(126, 252, 0, 0.808);
   text-align: center;
   margin: none;
   padding: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
   background-color: rgba(126, 252, 0, 0.808);
   margin: none;
   padding: none;
   border: thick dotted;
   font-size: 20px;
   text-transform: capitalize;
   display: block;
}
.navegacion:hover{
   color: aqua;
   text-decoration: none;
}
section{
   padding: none;
   margin-left: 200p;
   margin-right: 200p;
   margin: auto;
}
article{
   margin: auto;
   padding-right: 120px;
   padding-left: 120px;
}
footer{
   color:white;
   background-color: rgb(34, 32, 32);
   height:150px;
   max-width: none;
}
p{
   text-align: justify;
   min-width: 200px;
   flex-grow: 1;
}
img{
   width: 650px;
   height: 300px;
   float: inline-start;
   margin: auto;
   padding: auto;
   border: 3px solid black;
   object-fit: cover;
}
#shadow{
   text-align: center;
   font-size: large;
   border: none;
   padding: none;
   margin: none;
   color: red;
   font-variant: small-caps;
}
.final{
   position: absolute;
   left: 330px;
   height: max-content;
   width: max-content;
   text-align: right;
}
footer ul li{
   text-decoration: none;
   list-style: none;
}
.links{
   width: 135px;
   color: white;
   border-bottom: 2px solid lightslategray;
}
.links:hover{
   background-color: wheat;
   padding: 5px;
   text-decoration: none;
   color: tomato;
}
#Servicio{
   text-align: center;
   font-size: 20px;
}
#Servicio li{
   font-size: 25px;
   display: inline-block;
   color:rgb(38, 0, 255);
   text-shadow: 1px 1px black;
}
div nav a{
   color: rgb(0, 0, 0);
}
